{% extends 'TecAytAdminBundle:Common:layout.html.twig' %}
{% set sideBar = 'topics' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h2 class="box-title">Forum Topics</h2>
                        </div>
                        <div class="box-body">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="col-lg-12">
                                    <div class="alert alert-info alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        {{ flashMessage }}
                                    </div>
                                </div>
                            {% endfor %}
                            <table class="table table-striped" id="DataTable">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Author</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for topic in topics %}
                                    <tr>
                                        <td>{{ topic.title }}</td>
                                        <td class="text-content">{{ topic.content }}</td>
                                        <td>{{ topic.userId.username }}</td>
                                        <td>
                                            <a class="btn btn-danger btn-xs" href="{{ path('tec_ayt_admin_topic_delete', {'id': topic.topicId}) }}">
                                                <i class="fa fa-edit"></i> Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                        {# <div class="box-footer">
                            Footer
                        </div><!-- /.box-footer--> #}
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}
{% block footerAssets %}
    {{ parent() }}

    <script src="{{ asset('bundles/tecaytadmin/plugins/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/tecaytadmin/plugins/datatables/dataTables.bootstrap.min.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            var oTable = $('#DataTable').DataTable( {
                "lengthMenu": [[100, 500, -1], [100, 500, "All"]],
                "columnDefs": [{
                    "targets": [0, 1],
                    "visible": true,
                    "searchable": true
                }],
                "order": [[ 1, "desc" ]],
                initComplete: function () {

                }
            });
        });
    </script>
{% endblock %}